.main-layout {
  display: grid;
  grid-template-columns: 240px 1fr; 
  height: 100vh;
  background-color: #F8FAFA;
  color: white;
}

.sidebar {
  background-color: #181c1b;
  border-right: 1px solid #e0e6e4;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar h2 {
  color: #7ca99a; /* Логотип в основном цвете бренда */
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
}


.nav-item {
  color: #adb5bd;
  background: transparent;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  text-decoration: none;
}


.nav-item:hover {
  color: white;
  background-color: rgba(124, 169, 154, 0.1); 
}


.nav-item.active, 
.nav-item:focus {
  color: #6ce8db !important; 
  background-color: rgba(124, 169, 154, 0.2) !important; 
  outline: none;
}

.content {
  padding: 40px;
  overflow-y: auto;
}


.btn-auth {
  background-color: #0d0e0e; 
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  width: 90%;
  margin: 20px auto;
  display: block;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-auth:hover {
  background-color: #6a9285;
}

.content-area{
  flex: 1;
  background-color: #ffffff;
  color: #2c3e3a;
  overflow-y: auto;
}

